---
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Mi Blog";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    
    <p>Aquí están todas mis entradas de blog:</p>
    
    <ul>
      {allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
          <p>{post.frontmatter.description}</p>
          <small>Publicado: {post.frontmatter.pubDate}</small>
        </li>
      ))}
    </ul>
  </body>
</html>