---
import Layout from "../layouts/Layout.astro";
import SiteMaintenance from "../components/templates/SiteMaintenance.astro";
import MainMe from "../components/templates/MainMe.astro";
import Button from "../components/templates/button.astro";
import Footer from "../components/atoms/Footer.astro";
import IconButton from "../components/atoms/IconButton.astro";
import ContactForm1 from '../components/molecules/ContactForm1.jsx';

interface Item {
  name: string;
  href: string;
}

let base = import.meta.env.BASE_URL;
if (!base.endsWith("/")) base += "/";

const navItems: Item[] = [
  { name: "Inicio", href: `${base}` },
  { name: "Sobre mi", href: `${base}Sobre-mi/` },
  { name: "Proyectos", href: `${base}Proyectos/` },
  { name: "Conocimientos", href: `${base}Conocimientos/` },
  { name: "Contacto", href: `${base}contact/` },
  { name: "Blog", href: `${base}Blog/` },
];
---

<Layout>
  <!-- <SiteMaintenance /> -->

  <Button items={navItems} />

  <main class="pt-16 px-4 flex flex-col items-center text-center gap-6">
    <div
      class="h-28 w-28 rounded-full bg-cover bg-center"
      style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBnGBggDbP...");'
    >
    </div>

    <h1 class="text-2x1 font-bold">Bienvenido al portafolio</h1>

    <h1 class="text-2xl font-bold">Mauricio Nolazco Lonjino</h1>

    <p
      class="text-sm max-w-md text-text-light-secondary dark:text-text-dark-secondary"
    >
      Me gusta mucho los vieojuegos, la musica, ademas me encanta la tecnología.
    </p>

    <h2>Mis redes sociales</h2>

    <div class="flex gap-4">
      <IconButton
        icon="github"
        link="https://github.com/mauricionlz2018-tech"
      />
      <IconButton icon="whatsapp" link="https://wa.me/5574156828" />
      <IconButton icon="facebook" link="https://facebook.com/starzh.light" />
      <IconButton icon="instagram" link="https://instagram.com/nolazco2020" />
      <IconButton icon="tiktok" link="https://tiktok.com/@themiauu66" />
    </div>
  </main>
  <center><footer> 2025 &copy; Todos los derechos reservados "Mauricio Nolazco Lonjino"</footer></center>

  <!-- <MainMe /> -->

  <Footer items={navItems} />
</Layout>
