---
interface Props {
  title: string;
  image: string;
  tags: { label: string; bg: string; text: string }[];
}

const { title, image, tags } = Astro.props;
---

<div
  class="group relative w-full overflow-hidden rounded-xl bg-card-light shadow-md 
         transition-shadow duration-300 hover:shadow-lg dark:bg-card-dark flex flex-col"
>
  <img
    src={image}
    alt={title}
    class="h-50 w-full object-cover transition-transform duration-300 group-hover:scale-105"
  />

  <div class="p-3 flex flex-col grow">
    <h2 class="text-sm font-bold text-left leading-tight">{title}</h2>

    <div class="mt-auto pt-2 flex flex-wrap gap-1">
      {
        tags.map(tag => (
          <span class={`tag px-2 py-0.5 rounded-md text-xs font-medium ${tag.bg} ${tag.text}`}>
            {tag.label}
          </span>
        ))
      }
    </div>
  </div>
</div>
